@import "tailwindcss";
@import 'tippy.js/dist/tippy.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --grid-color: #b8cef2; 
}
.dark {
  --grid-color: #00172e; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.handle {
  @apply w-2 h-2 rounded-md;
  transition: all 0.15s ease;
}

.handle:hover {
  @apply scale-125 bg-blue-400;
}